* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v35_195 {
  width: 100%;
  height: 1080px;
  background: rgba(248,247,245,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_196 {
  width: 256px;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_197 {
  width: 207px;
  height: 48px;
  background: url("../images/v35_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v35_199 {
  width: 107px;
  height: 43px;
  background: url("../images/v35_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 60px;
  overflow: hidden;
}
.v35_200 {
  width: 108px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v35_201 {
  width: 92px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 27px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v56_117 {
  width: 32px;
  height: 32px;
  background: rgba(244,140,37,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 9px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v56_118 {
  width: 24px;
  height: 28px;
  background: url("../images/v56_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  overflow: hidden;
}
.v56_119 {
  width: 24px;
  height: 28px;
  background: url("../images/v56_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  overflow: hidden;
}
.v56_120 {
  width: 19px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
.v35_202 {
  width: 255px;
  height: 927px;
  background: url("../images/v35_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v56_73 {
  width: 223px;
  height: 44px;
  background: url("../images/v56_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v56_74 {
  width: 16px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 16px;
  overflow: hidden;
}
.v56_75 {
  width: 16px;
  height: 20px;
  background: rgba(75,85,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_76 {
  width: 54px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 11px;
  left: 48px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v56_77 {
  width: 223px;
  height: 44px;
  background: url("../images/v56_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v56_80 {
  width: 123px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 11px;
  left: 48px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v197_153 {
  width: 16px;
  height: 16px;
  background: url("../images/v197_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 17px;
  overflow: hidden;
}
.v56_81 {
  width: 223px;
  height: 44px;
  background: url("../images/v56_81.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 276px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v56_85 {
  width: 56px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 12px;
  left: 51px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v56_86 {
  width: 19px;
  height: 15px;
  background: rgba(75,85,99,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 15px;
}
.v56_84 {
  width: 223px;
  height: 44px;
  background: rgba(244,140,37,0.10000000149011612);
  opacity: 1;
  position: absolute;
  top: 213px;
  left: 13px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v56_83 {
  width: 15px;
  height: 16px;
  background: url("../images/v56_83.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 15px;
  border: 2.914613962173462px solid rgba(244,140,37,1);
}
.v56_97 {
  width: 110px;
  color: rgba(244,140,37,1);
  position: absolute;
  top: 12px;
  left: 43px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v56_87 {
  width: 63px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 11px;
  left: 66px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v56_88 {
  width: 223px;
  height: 44px;
  background: url("../images/v56_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v56_89 {
  width: 20px;
  height: 20px;
  background: url("../images/v56_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 14px;
  overflow: hidden;
}
.v56_90 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v56_91 {
  width: 20px;
  height: 20px;
  background: rgba(75,85,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_92 {
  width: 125px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 3px;
  left: 50px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v56_94 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 32px;
  overflow: hidden;
}
.v56_95 {
  width: 18px;
  height: 18px;
  background: rgba(75,85,99,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_227 {
  width: 255px;
  height: 72px;
  background: url("../images/v35_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1007px;
  left: 0px;
  overflow: hidden;
}
.v56_103 {
  width: 223px;
  height: 40px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v56_104 {
  width: 10px;
  height: 10px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 69px;
  overflow: hidden;
}
.v56_105 {
  width: 10px;
  height: 10px;
  background: rgba(55,65,81,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v56_106 {
  width: 70px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 9px;
  left: 89px;
  font-family: Work Sans;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_232 {
  width: 100%;
  height: 1080px;
  background: url("../images/v35_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 256px;
  overflow: hidden;
}
.v35_233 {
  width: 100%;
  height: 967px;
  background: url("../images/v35_233.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 112px;
  left: 0px;
  overflow: hidden;
}
.v35_234 {
  width: 100%;
  height: 575px;
  background: url("../images/v35_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 204px;
  overflow: hidden;
}
.v35_235 {
  width: 100%;
  height: 73px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v35_236 {
  width: 259px;
  height: 36px;
  background: url("../images/v35_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 923px;
  overflow: hidden;
}
.v35_237 {
  width: 73px;
  height: 36px;
  background: rgba(24,20,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_238 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_239 {
  width: 85px;
  height: 36px;
  background: rgba(245,242,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 81px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_240 {
  width: 54px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_241 {
  width: 84px;
  height: 36px;
  background: rgba(245,242,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 174px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_242 {
  width: 53px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 7px;
  left: 16px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_339 {
  width: 384px;
  height: 40px;
  background: rgba(245,242,240,1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_340 {
  width: 332px;
  color: rgba(117,117,117,1);
  position: absolute;
  top: 10px;
  left: 40px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_338 {
  width: 384px;
  height: 40px;
  background: url("../images/v35_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_341 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 16px;
  overflow: hidden;
}
.v35_342 {
  width: 18px;
  height: 18px;
  background: rgba(138,117,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_243 {
  width: 100%;
  height: 477px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 0px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v35_244 {
  width: 100%;
  height: 421px;
  background: url("../images/v35_244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v35_245 {
  width: 100%;
  height: 421px;
  background: url("../images/v35_245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_246 {
  width: 100%;
  height: 48px;
  background: rgba(245,242,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_247 {
  width: 117px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 16px;
  left: 16px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_248 {
  width: 81px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 16px;
  left: 412px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_249 {
  width: 130px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 16px;
  left: 591px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_250 {
  width: 79px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 16px;
  left: 848px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_251 {
  width: 79px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 16px;
  left: 1103px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_252 {
  width: 100%;
  height: 372px;
  background: url("../images/v35_252.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v35_253 {
  width: 100%;
  height: 74px;
  background: url("../images/v35_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_254 {
  width: 364px;
  height: 40px;
  background: url("../images/v35_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v35_255 {
  width: 40px;
  height: 40px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_256 {
  width: 133px;
  height: 36px;
  background: url("../images/v35_256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 53px;
  overflow: hidden;
}
.v35_257 {
  width: 134px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_258 {
  width: 67px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_259 {
  width: 17px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 412px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_260 {
  width: 27px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 591px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_261 {
  width: 77px;
  height: 20px;
  background: rgba(220,252,231,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 848px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_262 {
  width: 6px;
  height: 6px;
  background: rgba(34,197,94,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_263 {
  width: 50px;
  color: rgba(22,101,52,1);
  position: absolute;
  top: 2px;
  left: 22px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_264 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1156px;
  overflow: hidden;
}
.v35_265 {
  width: 15px;
  height: 15px;
  background: rgba(138,117,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_266 {
  width: 100%;
  height: 74px;
  background: url("../images/v35_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 0px;
  overflow: hidden;
}
.v35_267 {
  width: 364px;
  height: 40px;
  background: url("../images/v35_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v35_268 {
  width: 40px;
  height: 40px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_269 {
  width: 104px;
  height: 36px;
  background: url("../images/v35_269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 53px;
  overflow: hidden;
}
.v35_270 {
  width: 105px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_271 {
  width: 70px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_272 {
  width: 17px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 412px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_273 {
  width: 21px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 591px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_274 {
  width: 77px;
  height: 20px;
  background: rgba(254,226,226,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 848px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_275 {
  width: 6px;
  height: 6px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_276 {
  width: 50px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 2px;
  left: 22px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_277 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1156px;
  overflow: hidden;
}
.v35_278 {
  width: 15px;
  height: 15px;
  background: rgba(138,117,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_279 {
  width: 100%;
  height: 74px;
  background: url("../images/v35_279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}
.v35_280 {
  width: 364px;
  height: 40px;
  background: url("../images/v35_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v35_281 {
  width: 40px;
  height: 40px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_282 {
  width: 130px;
  height: 36px;
  background: url("../images/v35_282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 53px;
  overflow: hidden;
}
.v35_283 {
  width: 131px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_284 {
  width: 67px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_285 {
  width: 23px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 412px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_286 {
  width: 18px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 591px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_287 {
  width: 77px;
  height: 20px;
  background: rgba(220,252,231,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 848px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_288 {
  width: 6px;
  height: 6px;
  background: rgba(34,197,94,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_289 {
  width: 50px;
  color: rgba(22,101,52,1);
  position: absolute;
  top: 2px;
  left: 22px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_290 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1156px;
  overflow: hidden;
}
.v35_291 {
  width: 15px;
  height: 15px;
  background: rgba(138,117,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_292 {
  width: 100%;
  height: 74px;
  background: url("../images/v35_292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 0px;
  overflow: hidden;
}
.v35_293 {
  width: 364px;
  height: 40px;
  background: url("../images/v35_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v35_294 {
  width: 40px;
  height: 40px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_295 {
  width: 82px;
  height: 36px;
  background: url("../images/v35_295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 53px;
  overflow: hidden;
}
.v35_296 {
  width: 83px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_297 {
  width: 70px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_298 {
  width: 18px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 412px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_299 {
  width: 21px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 591px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_300 {
  width: 87px;
  height: 20px;
  background: rgba(255,237,213,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 848px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_301 {
  width: 6px;
  height: 6px;
  background: rgba(249,115,22,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_302 {
  width: 60px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 2px;
  left: 22px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_303 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1156px;
  overflow: hidden;
}
.v35_304 {
  width: 15px;
  height: 15px;
  background: rgba(138,117,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_305 {
  width: 100%;
  height: 74px;
  background: url("../images/v35_305.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 0px;
  overflow: hidden;
}
.v35_306 {
  width: 364px;
  height: 40px;
  background: url("../images/v35_306.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v35_307 {
  width: 40px;
  height: 40px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v35_308 {
  width: 157px;
  height: 36px;
  background: url("../images/v35_308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 53px;
  overflow: hidden;
}
.v35_309 {
  width: 158px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_310 {
  width: 67px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_311 {
  width: 17px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 412px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_312 {
  width: 21px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 27px;
  left: 591px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_313 {
  width: 77px;
  height: 20px;
  background: rgba(254,226,226,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 848px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_314 {
  width: 6px;
  height: 6px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 10px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v35_315 {
  width: 50px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 2px;
  left: 22px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v35_316 {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 1156px;
  overflow: hidden;
}
.v35_317 {
  width: 15px;
  height: 15px;
  background: rgba(138,117,96,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_318 {
  width: 100%;
  height: 54px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 422px;
  left: 1px;
  overflow: hidden;
}
.v35_319 {
  width: 213px;
  height: 20px;
  background: url("../images/v35_319.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v35_320 {
  width: 54px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_321 {
  width: 6px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 59px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_322 {
  width: 31px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 1px;
  left: 64px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_323 {
  width: 9px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 100px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_324 {
  width: 29px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 1px;
  left: 108px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_325 {
  width: 17px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 141px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_326 {
  width: 57px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 1px;
  left: 158px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_327 {
  width: 246px;
  height: 29px;
  background: url("../images/v35_327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 935px;
  overflow: hidden;
}
.v35_328 {
  width: 64px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v35_329 {
  width: 39px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_330 {
  width: 31px;
  height: 29px;
  background: rgba(244,140,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v35_331 {
  width: 6px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_332 {
  width: 34px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 111px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v35_333 {
  width: 9px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_334 {
  width: 33px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 153px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v35_335 {
  width: 9px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_336 {
  width: 51px;
  height: 29px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 195px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v35_337 {
  width: 26px;
  color: rgba(138,117,96,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Work Sans;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v35_344 {
  width: 100%;
  height: 112px;
  background: url("../images/v35_344.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v35_351 {
  width: 100%;
  height: 40px;
  background: url("../images/v35_351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 32px;
  overflow: hidden;
}
.v35_352 {
  width: 280px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v35_353 {
  width: 219px;
  height: 40px;
  background: rgba(244,140,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1380px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v35_354 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 24px;
  overflow: hidden;
}
.v35_355 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v35_356 {
  width: 152px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 9px;
  left: 48px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v272_760 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v272_761 {
  width: 100%;
  height: 80px;
  background: url("../images/v272_761.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 24px;
  margin: 273px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v272_762 {
  width: 693px;
  height: 32px;
  background: url("../images/v272_762.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v272_763 {
  width: 143px;
  height: 32px;
  background: url("../images/v272_763.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v272_764 {
  width: 32px;
  height: 32px;
  background: url("../images/v272_764.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v272_765 {
  width: 32px;
  height: 32px;
  background: url("../images/v272_765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v272_766 {
  width: 32px;
  height: 32px;
  background: url("../images/v272_766.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v272_767 {
  width: 32px;
  height: 32px;
  background: url("../images/v272_767.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v272_768 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v272_769 {
  width: 30px;
  height: 30px;
  background: url("../images/v272_769.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v272_770 {
  width: 30px;
  height: 30px;
  background: rgba(244,140,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v272_771 {
  width: 99px;
  height: 28px;
  background: url("../images/v272_771.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 44px;
  overflow: hidden;
}
.v272_772 {
  width: 99px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Black;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v272_773 {
  width: 78px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 7px;
  left: 183px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v272_774 {
  width: 412px;
  height: 20px;
  background: url("../images/v272_774.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 301px;
  overflow: hidden;
}
.v272_775 {
  width: 51px;
  height: 20px;
  background: url("../images/v272_775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v272_776 {
  width: 51px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v272_777 {
  width: 81px;
  height: 20px;
  background: url("../images/v272_777.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 83px;
  overflow: hidden;
}
.v272_778 {
  width: 81px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v272_779 {
  width: 116px;
  height: 20px;
  background: url("../images/v272_779.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 196px;
  overflow: hidden;
}
.v272_780 {
  width: 116px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v272_781 {
  width: 68px;
  height: 20px;
  background: url("../images/v272_781.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 344px;
  overflow: hidden;
}
.v272_782 {
  width: 68px;
  color: rgba(24,20,17,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v272_783 {
  width: 412px;
  height: 48px;
  background: url("../images/v272_783.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 15px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 843px;
  overflow: hidden;
}
.v272_784 {
  width: 248px;
  height: 48px;
  background: rgba(245,242,240,1);
  padding: 6px 12px;
  margin: 7px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v272_785 {
  width: 24px;
  height: 27px;
  background: url("../images/v272_785.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v272_786 {
  width: 24px;
  height: 27px;
  background: url("../images/v272_786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 0px;
  overflow: hidden;
}
.v272_787 {
  width: 17px;
  height: 17px;
  background: rgba(107,114,128,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
}
.v272_788 {
  width: 192px;
  height: 36px;
  background: url("../images/v272_788.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 12px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 44px;
  overflow: hidden;
}
.v272_789 {
  width: 168px;
  height: 16px;
  background: url("../images/v272_789.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v272_790 {
  width: 180px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v272_791 {
  width: 149px;
  height: 40px;
  background: url("../images/v272_791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 263px;
  overflow: hidden;
}
.v272_792 {
  width: 97px;
  height: 40px;
  background: rgba(244,140,37,1);
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v272_793 {
  width: 18px;
  height: 28px;
  background: url("../images/v272_793.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 3px 0px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 16px;
  overflow: hidden;
}
.v272_794 {
  width: 18px;
  height: 22px;
  background: url("../images/v272_794.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
  overflow: hidden;
}
.v272_795 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 3px;
}
.v272_796 {
  width: 39px;
  height: 20px;
  background: url("../images/v272_796.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 42px;
  overflow: hidden;
}
.v272_797 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Work Sans;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v272_798 {
  width: 40px;
  height: 40px;
  background: rgba(245,242,240,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 109px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v272_799 {
  width: 24px;
  height: 28px;
  background: url("../images/v272_799.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 7px;
  overflow: hidden;
}
.v272_800 {
  width: 24px;
  height: 28px;
  background: url("../images/v272_800.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 0px;
  overflow: hidden;
}
.v272_801 {
  width: 19px;
  height: 19px;
  background: rgba(24,20,17,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 1px;
}
.v272_802 {
  width: 22px;
  height: 23px;
  background: rgba(244,140,37,1);
  padding: 2px 6px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 22px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v272_803 {
  width: 6px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Work Sans;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
